body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table, td {
  border: 1px solid;
}
.pizzaAttr { 
  text-align:center;
  background-color:#0088ff; 
  width: 120px; 
} 

table {
  width: 100%;
  border-collapse: collapse;
}

.mr-1 {
  background-color:darkslategray;
  width: 120px;
}
